.container {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display:flex;
  flex:1;
}


.test {
  margin-top: 1000vh;
}

.main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
