.hul{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hul .hli{
    position: relative;
    list-style: none;
}

.hul .hli .a {
    position:relative;
    margin:0 15px;
    color:#fff;
    letter-spacing: 2px;
    font-weight:500;
    transition:0.6s;
}